@font-face{
    font-family: "Merge Light";
    src:url("/4660b661-e52c-4125-93ac-4eccc802c566.woff2") format("woff2"),url("/dd6ea7a3-de86-4fa8-83f6-80a5305ca6c1.woff") format("woff");
}

h1, h2, h3, h4, h5, h6 {
        font-family: "Merge Light"
    }